{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid mb-5">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="position-relative pb-3 text-center text-muted bg-body col-md-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ produto.img }}" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="card-title mb-3">{{ produto.nome }}</h1>

                <form class="align-items-center form-floating" method="post" action="{{ url_for('produto.alterar_produto', id = produto.id) }}">
                  <div class="row g-2">
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="nome" name="nome" value="{{ produto.nome }}" />
                        <label for="nome">Nome</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="number" class="form-control" step="1" id="quantidade" name="quantidade" required value="{{ produto.quantidade }}" />
                        <label for="quantidade">Quantidade</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="number" class="form-control" step=".01" id="preco" name="preco" required value="{{ produto.preco }}" />
                        <label for="preco">Valor</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="Marca" name="marca" required value="{{ produto.marca }}" />
                        <label for="Marca">Marca</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="cor" name="cor" value="{{ produto.cor }}" />
                        <label for="cor">Cor</label>
                      </div>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="codigobarra" name="codigobarra" required value="{{ produto.codigobarra }}" />
                      <label for="codigobarra">Codigo de barra</label>
                    </div>
                    <div class="row justify-content-end">
                      <button type="submit" class="btn col-md-4 mt-5 base-color">Alterar produto</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative pb-3 text-muted bg-body col-md-4 overflow-auto" style="max-height: 600px">
        <div class="list-group">
          {% if analytics %}
            {% for analytic in analytics %}
              <a href="{{ analytic.link }}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <div class="col-md-2">
                    <img src="{{ analytic.img }}" class="rounded-start" alt="..." height="50rem"/>
                  </div>
                  <div class="col-md-10">
                    <h5 class="mb-1">{{ analytic.vendedor }}</h5>
                    <small>{{ analytic.nome }}</small>
                    <div class="text-end">
                      <h5><span class="text-dark">{{ analytic.valor }}</span></h5>
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">A pesquisa de preços está em andamento</h5>
                <small>agora</small>
              </div>
              <small>Volte em breve.</small>
              <div class="text-end">
                <h5><span class="text-dark"></span></h5>
              </div>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
