{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5 col-md-8">
        <h1 class="text-body-emphasis mt-4 mb-3">Produtos</h1>
        <form class="row gx-3 gy-2 align-items-center">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Nome" id="nome" name="nome" />
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control" placeholder="Quantidade" id="quantidade" name="quantidade" />
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control" step="0.1" placeholder="Preco" id="preco" name="preco" />
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Codigo de barra" id="codigobarra" name="codigobarra" />
          </div>
          <div class="row justify-content-end">
            <button type="submit" class="btn btn-primary col-md-4 mt-5">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="content">
        {% for produto in produtos %}
          <div class="post">
            <p>
              <b>#{{ produto.id }}</b>
            </p>
            <p class="title">
              <b><a href="#">{{ produto.nome }}</a></b>
            </p>
            <div class="content">
              <p>{{ produto.preco }}</p>
            </div>
            <span><a href="{{ url_for('produto.delete', id = produto.id) }}">Deletar</a></span>
            <hr />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
